* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
em {
  font-style: normal;
  font-weight: 300;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background: #222;
  color: white;
  text-transform: uppercase;
}
.title {
  margin-left: 15px;
  letter-spacing: 2px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  margin-top: -15px;
  transition: all 0.5s;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
}
li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background 0.4s linear;
  font-size: 0.85rem;
}
li a:hover {
  background: rgba(82, 79, 247, 0.918);
}
.navbar h3 {
  font-size: 20px;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}
a {
  color: white;
  text-decoration: none;
}
.row {
  margin-top: 70px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: white;
}
.col-2 {
  flex-basis: 100%;
  min-width: 350px;
  margin: 50px 0;
}
.col-2 p {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 38px;
}
.col-2 h1 {
  font-size: 40px;
  font-weight: 549;
  letter-spacing: 2px;
  line-height: 42px;
  text-transform: uppercase;
}
.btn {
  border: 1px solid aliceblue;
  display: inline-block;
  border-radius: 3px;
  margin-top: 10px;
  padding: 18px 60px;
  font-size: 28px;
  color: black;
  cursor: pointer;
  background: whitesmoke;
  transition: background 0.5s linear;
}
.btn:hover {
  background: none;
  color: white;
}
.menu-icon {
  font-size: 25px;
  display: none;
}
.cart {
  position: relative;
  margin-right: 20px;
  margin-left: 8px;
}
.count {
  position: absolute;
  bottom: 15px;
  left: 12px;
  background: blue;
  padding: 2px 7px;
  border-radius: 100px;
}
.cart i {
  font-size: 25px;
}
section.landing-sect {
  height: 95vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./other\ image.jpg) no-repeat fixed;
  background-position: center;
  background-size: cover;
}
.row-2 {
  font-size: 25px;
  margin: 50px 0 60px 0;
}
.row-2 h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(1, 1, 160);
  margin-bottom: 60px;
  font-weight: 500;
  word-spacing: 4px;
}
.row-2 p {
  color: #333;
  text-align: center;
  margin-bottom: 50px;
}
.row-2 button {
  display: grid;
  margin: auto;
  font-size: 30px;
  padding: 15px 50px;
  background: rgb(0, 0, 124);
  color: white;
  text-transform: uppercase;
  border: none;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s linear;
}
.row-2 button:hover {
  background: rgb(4, 4, 175);
}
.col-4 {
  flex-basis: 50%;
  max-width: 150px;
  margin: 50px auto;
}
.col-4 img {
  width: 100%;
  border: 2px solid aliceblue;
  border-radius: 5px;
  filter: grayscale(100%);
  transition: filter 0.4s;
}
.col-4 img:hover {
  filter: grayscale(0);
}
.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.col-3 {
  flex-basis: 45%;
  height: 400px;
  margin: 50px 0;
}
.col-3#first {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./The\ picture.jpg) no-repeat;
  background-position: center;
}
.col-3#second {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url(./living\ room.jpg) no-repeat;
  background-position: center;
  margin-left: 10px;
}
.col-3 {
  text-align: center;
  color: white;
}
.col-3 h2 {
  text-transform: uppercase;
  margin: 15% 0 0 0;
  font-weight: 500;
  font-size: 30px;
}
.col-3 p {
  text-transform: capitalize;
  white-space: pre-wrap;
  margin: 5% 0 0 0;
  font-size: 20px;
}
.col-3 a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  padding: 2px;
  font-weight: 550;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 5% 0 0 0;
}
.col-3 a:hover {
  background: rgba(240, 248, 255, 0.096);
}
.container-2 {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-bottom: 20px;
}
.col-5 {
  margin: auto;
  margin-bottom: 20px;
  color: white;
}
.col-5#sectionals {
  height: 400px;
  flex-basis: 70%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./sectionals.jpg);
  background-position: center;
}
.col-5#section {
  margin-top: -50px;
  height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./nice\ view.jpg) no-repeat;
  background-size: cover;
  flex-basis: 30%;
  margin-left: 20px;
}
.col-5 h2 {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 4px;
  word-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  margin: 80px 0 0 80px;
  line-height: 42px;
}
.col-5 p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  margin: 30px 0 40px 80px;
}
.col-5 a {
  font-weight: 600;
  font-size: 20px;
  border-bottom: 2px solid white;
  padding: 0 0 2px 0;
  text-transform: uppercase;
  margin: 0 0 0 80px;
}
.col-5 a:hover {
  background: rgba(240, 248, 255, 0.068);
}
.desc {
  max-width: 950px;
  margin-left: 20px;
  font-size: 22px;
  margin-bottom: 100px;
}
.desc h4 {
  line-height: 42px;
  letter-spacing: 1px;
  color: #3142aa;
  text-transform: capitalize;
}
.desc p {
  color: #0c1d8da2;
}
.fabrics {
  height: 400px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./backgroundimg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
}
.text {
  position: relative;
  text-align: center;
  margin: auto;
}
.fabrics h2 {
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 40px;
  color: white;
  font-weight: 400;
  top: 60px;
  left: 40%;
}
.fabrics a {
  display: inline-block;
  position: absolute;
  top: 270px;
  left: 42%;
  font-size: 22px;
  text-transform: uppercase;
  border: 3px solid white;
  padding: 15px 30px;
}
.col-6 {
  width: 100%;
  height: 700px;
  margin-top: 20px;
}
.small-container {
  flex-basis: 50%;
  margin-top: -220px;
  margin-right: 50px;
}
.col-6#retails {
  position: relative;
  height: 500px;
  background: url(./sittingon.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.smaller-container {
  margin-top: 32px;
}
.col-6#leather {
  background: url(./aside.jpg);
  background-position: center;
  background-size: cover;
}
.retail-description a {
  display: inline-block;
  color: #0c1d8d;
  text-transform: uppercase;
  border-bottom: 1px solid #0c1d8da2;
  letter-spacing: 2px;
  word-spacing: 4px;
  padding-bottom: 2px;
}
.retail-description {
  margin-top: 20px;
  color: #0c1d8dc4;
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 28px;
}
.retail-description p {
  color: #0e26c7bb;
}
/* footer section */
.footer {
  margin-top: 100px;
  background: rgb(0, 0, 0);
  color: white;
  padding: 100px 0 30px;
}
.footer-col-1 {
  flex-basis: 30%;
}
.footer-col-1 h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.footer-col-1 p {
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 25px;
  margin-bottom: 50px;
}
.footer-col-2 ul,
.footer-col-3 ul {
  list-style: none;
}
.footer-col-2 {
  flex-basis: 12%;
  margin-left: -50px;
}
.footer-col-4 {
  flex: 1;
}
.footer-col-2 h4,
.footer-col-3 h4 {
  margin-top: -20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer-col-2 ul li,
.footer-col-3 ul li {
  padding: 20px 0;
}
.footer-col-2 ul li a,
.footer-col-3 ul li a {
  padding: 0;
}
.footer-col-3 {
  margin-left: 10px;
  flex-basis: 20%;
  margin-right: 30px;
}
label {
  display: block;
  margin-top: 32px;
  margin-bottom: 40px;
}
input#email {
  width: 480px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.575);
  padding: 10px 0;
  font-size: 20px;
  color: white;
}
.footer-col-4 p {
  margin: 50px 0 30px;
}
.social-media i {
  display: inline-block;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.footer hr {
  border: none;
  height: 2px;
  background: rgba(255, 255, 255, 0.288);
  margin: 30px 0;
}
.copyright {
  text-align: center;
}
/* media query for smaller screens */
@media only screen and (max-width: 1145px) {
  nav ul {
    position: absolute;
    top: 68px;
    left: 0;
    background: rgb(20, 19, 19);
    width: 100%;
    overflow: hidden;
  }
  nav ul li {
    display: block;
    margin: 30px 40px 20px 0;
  }
  .menu-icon {
    display: block;
    margin-right: 20px;
  }
}
/* Responsive Webpage */
@media (max-width: 1145px) {
  .row,
  .row-2,
  .logos,
  .container-2,
  .desc,
  .fabrics,
  .smaller-container {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .col-4 {
    margin-left: 80px;
  }
  .health {
    margin-left: 0px;
    margin-right: 80px;
  }
  .col-3,
  .col-5 {
    flex-basis: 100%;
    margin: 50px 20px 25px;
  }
  .col-3#second {
    margin-left: 20px;
  }
  .col-5#section {
    flex-basis: 100%;
    margin-top: 0px;
  }
  .col-5 h2 {
    margin-top: 100px;
    font-size: 40px;
  }
  .col-5 h2,
  .col-5 p,
  .col5-a {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .col-5 a {
    margin-right: 40px;
  }
  .col-5#sectionals {
    flex-basis: 100%;
    margin-top: 0px;
  }

  .fabrics {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
  .text,
  .text a {
    position: unset;
    text-align: center;
  }
  .text h2 {
    position: unset;
  }
  .text a {
    display: block;
    margin-top: 100px;
  }
  .small-container {
    flex-basis: 100%;
    margin: 50px 20px 0px 20px;
  }
  .smaller-container {
    flex-basis: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    flex-basis: 100%;
  }
  .footer-col-2,
  .footer-col-3 {
    margin: 0px 0px 40px 0px;
  }
}
